<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/edit-profile.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Materialize  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap"
    rel="stylesheet">

  <%- include('partials/_header') %>

<body>

  <div>
    <h1>Edit Profile</h1>

  </div>

  <form action="/api/edit" method="POST">

    <label for="username">Username:  <%=user.username%></label>
    <input type="text" id="username" name="username" readonly><br>

    <label for="first_name">First Name:  <%=user.first_name%></label>
    <input type="text" id="first_name" name="first_name" readonly><br>

    <label for="last_name">Last Name:  <%=user.last_name%></label>
    <input type="text" id="last_name" name="last_name" readonly><br>

    <label for="email">Email:  <%=user.email%></label>
    <input type="email" id="email" name="email" readonly><br>

    <label for="profile_picture">Profile Picture:</label>
    <input placeholder='INSERT IMG URL' type="text" id="profile_picture" name="profile_picture"><br>

    <label for="bio">Bio: <%=user.bio%></label><br>
    <textarea id="bio" name="bio" required></textarea><br>



    <label for="password">Password:</label>
    <input type="password" id="password" name="password" readonly><br>

    <input type="submit" value="Save">
  </form>
</body>

</html>
