<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_header') %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/resources-details.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/comments.js"></script>
<script src="/routes/ratings-api.js"></script>



  <title>LearnIt Resource</title>
</head>
<body>

  <div id="resource-details">
    <h1>LearnIT Resource</h1>
    <div class="res-creator">
      <div class="grid-65">
        <img class="avatar" src="<%= user.profile_picture %>" alt="">
      </div>
      <span>@<%= resource.username %></span>
      <span><%= resource.created_at%></span>
    </div>
    <section class="col-left">

    <div class="res-thumbnail">
      <% if (resource.is_video) { %>
        <div class="video-container card-image waves-effect waves-block waves-light">
          <iframe width="853" height="480"
          src="<%= resource.embed %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <% } else { %>
        <img class="activator" src="<%= resource.media_url%>"></img>
      <% } %>
      <div class="res-rating">
        <div class="star-rating">

            <input type="radio" name="stars" id="star-a" value="5"/>
            <label for="star-a"></label>


            <input type="radio" name="stars" id="star-b" value="4"/>
            <label for="star-b"></label>


            <input type="radio" name="stars" id="star-c" value="3"/>
            <label for="star-c"></label>


            <input type="radio" name="stars" id="star-d" value="2"/>
            <label for="star-d"></label>


            <input type="radio" name="stars" id="star-e" value="1"/>
            <label for="star-e"></label>

        </div>
      <span><%= resource.rating %></span>
      </div>
  <div class="res-content">
    <h1><%= resource.title %></h1>
    <a href="<%= resource.url %>"><%= resource.url %></a>
    <p><%= resource.description %></p>
  </div>
    </div>
    <div id="comments-container">
    </div>
    <div class="new-comment">
      <div class="comment-creator">
        <div class="grid-65">
          <img class="avatar" src="<%= user.profile_picture %>" alt="">
        </div>
        <span>@<%= resource.username %></span>
      </div>
      <form id="post-comments" action="/comments" method="POST">
        <textarea name="text" id="res-comment" placeholder="What have you learned?"></textarea>
        <div class="new-comment-footer">
          <button type="submit">Share</button>
        </div>
      </form>
    </div>
  </section>
  <div>
    <a href="/">Back</a>
  </div>
</body>
</html>



