<div id="resource-details">
  <div class="res-creator">
    <i class="fa-solid fa-circle-user"></i>
    <span>@<%= resource.username %></span>
    <span><%= resource.created_at%></span>
  </div>
  <div class="res-thumbnail">
    <img src="assets/images/art.png">
  </div>
  <div class="res-rating">
    <div class="star-rating">
      <input type="radio" name="stars" id="star-a" value="5"/>
      <label for="star-a"></label>

      <input type="radio" name="stars" id="star-b" value="4"/>
      <label for="star-b"></label>

      <input type="radio" name="stars" id="star-c" value="3"/>
      <label for="star-c"></label>

      <input type="radio" name="stars" id="star-d" value="2"/>
      <label for="star-d"></label>

      <input type="radio" name="stars" id="star-e" value="1"/>
      <label for="star-e"></label>
</div>
<span><%= resource.rating %></span>
<!-- <span>(Based on 2 ratings)</span> -->
  </div>
  <div class="res-content">
    <h3><%= resource.title %></h3>
    <a href="<%= resource.url %>"><%= resource.url %></a>
    <p><%= resource.description %></p>
  </div>
  <div class="comment-section">
    <h4>
      Comment
      <i class="fa-solid fa-comment"></i>
    </h4>

    <div class="add-comment">
      <i class="fa-solid fa-circle-user"></i>
      <span><%= resource.created_at %></span>
      <textarea name="comment-box" id="user-comment" cols="30" rows="10"></textarea>
      <i class="fa-solid fa-share"></i>
    </div>
  </div>
</div>
<a href="/">Back</a>
 

<!-- Creating modals for resource details  -->


<!--
<div id="resource-modal" class="modal hidden">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="res-details">
      <span>Title</span>
      <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href=""> URL </a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi
        atque, fugit doloremque nulla hic voluptas earum eveniet, nihil
        molestias debitis modi eos ab sequi minima vero quas deleniti nobis.
      </p>
    </div> -->

    <!-- Upload img thumbnail (https://codepen.io/aertmann/pen/mrVaPx)
    (https://www.tutorialswebsite.com/topics/jquery-to-show-image-thumbnail-before-upload/) -->
    <!-- <div class="upload-img">
      <input type="file" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" />
      <p>
        <strong>Select a video or image file</strong><br /><br />Supported
        browsers (tested): Chrome, Firefox, Safari, Opera, IE10, IE11, Android
        (Chrome), iOS Safari (10+)
      </p>


  </div>
</div>

 -->

 <!-- Trigger/Open The Modal
<button id="myBtn">Open Modal</button>


<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
